// @mixin  buttons {
//     background-color: #ff3150;
//     border: none;
//     color: #ffc400;
//     padding: 8px 25px;
//     font-weight: bold;
// }

@mixin line {
    &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%);
        width: 120px;
        height: 2px;
        background-color: $green-color;
    }
}